<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Dashboard v2</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v2</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">
      <!--list user-->
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">QUẢN LÍ DANH MỤC SẢN PHẨM</h3>
              <div class="card-tools">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <!-- <span class="badge badge-primary">Label</span>-->
                <button class="btn btn-primary" type="submit">Xuất thông tin khách hàng</button>
              </div>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <ngx-datatable tableClass="table table-striped table-bordered table-hover"

                             [data]="data" [options]="options"
                             [columns]="columns">
                <ngx-caption>
                  <div class="row">
                    <div class="col-sm-6 col-xs-6 col-6 ">
                      <b>
                        <i class="fa fa-table" aria-hidden="true"></i>
                        Data Table List
                      </b>
                    </div>
                    <div class="col-sm-6 col-xs-6 col-6  text-right">
                      <button type="button" class="btn btn-primary" (click)="onClickAddBtn()">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add New Data
                      </button>
                    </div>
                  </div>
                </ngx-caption>
                <ng-template #addressTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  {{columnValue.city}}, {{columnValue.state}}
                </ng-template>
                <ng-template #actionTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  <a href="javascript:void(0)" (click)="onEdit(row)">Edit</a> |
                  <a href="javascript:void(0)"  (click)="onDelete(rowIndex)">Delete</a>
                </ng-template>

              </ngx-datatable>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              The footer of the card
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!--./ list user-->
    </div>
  </section>



</div>

